<div class="container">
  <div class="wrapper">
    <div class="header">
      <p>Create product</p>
    </div>
    <form [formGroup]="productForm">
      <div class="input-wrapper">
        <input
          formControlName="name"
          class="input"
          [ngClass]="{invalid: nameControl.invalid && nameControl.touched}"
          type="text" 
          placeholder="Name"
          required
        />
        <input
          formControlName="price"
          class="input"
          [ngClass]="{invalid: priceControl.invalid && priceControl.touched}"
          type="number" 
          placeholder="Price"
          required
        />
      </div>
      <div class="button-wrapper">
        <button class="btn gradient full" (click)="createProduct()">Create</button>
      </div>
    </form>
  </div>
</div>
<app-modal
  [isActive]="isModalActive"
  [title]="'Create product'"
  [text]="'Would you like to create a new product?'"
  (cancel)="onCancel()"
  (confirm)="onConfirm()"
></app-modal>
