
// Colors
$blueDark: #1e88e5;
$blue: #64b5f6;
$blueLight: #bbdefb;
$blueLighter: #e3f2fd;
$gray: #b0bec5;
$grayLight: #cfd8dc;
$grayLightest: #f5f5f5;
$red: #ef5350;


// Z-index list
$zIndex1: 1;
$zHeader: 2;
$zBackdrop: 9;
$zSidebar: 10;
$zModal: 11;