<div class="container">
  <div class="wrapper">
    <div class="header">
      <p>Hello there, welcome to my demo</p>
    </div>
    <form [formGroup]="loginForm">
      <div class="input-wrapper">
        <input
          formControlName="username"
          class="input"
          [ngClass]="{invalid: usernameControl.invalid && usernameControl.touched}"
          type="text" 
          placeholder="Username"
          required
        />
        <input
          formControlName="password"
          class="input"
          [ngClass]="{invalid: passwordControl.invalid && passwordControl.touched}"
          type="password" 
          placeholder="Password"
          required
        />
      </div>
      <div class="button-wrapper">
        <p class="forgot-pwd" (click)="onAlert('Just input any password')">Forgot your Password?</p>
        <button class="btn gradient large" (click)="login()">Sign in</button>
      </div>
    </form>
    <div class="footer">
      <p>New Here ?</p>
      <p class="underline" (click)="onAlert('Oops, missing feature')">Sign Up instead</p>
    </div>
  </div>
</div>
