@import '../../../../assets/scss/variables';

.container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(250px, 1fr) 120px 120px minmax(150px, 1fr);
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;;
  padding: 15px;
  margin: 10px 0px;
  background-color: #fff;
  border-radius: 10px;

  .image-wrapper {
    display: flex;
    align-items: center;

    img {
      background-image: url('../../../../assets/images/placeholder.png');
      height: 40px;
      width: 40px;
      border-radius: 30px;
      margin-right: 5px;
    }
  }

  .date-wrapper {
    display: flex;
    justify-content: space-between;

    fa-icon {
      color: $grayDarker;
      cursor: pointer;
    }
  }
}
