@import '../variables';

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid gray;
  color: #fff;

  &::placeholder {
    color: gray;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &.invalid {
    border-bottom-color: $red;

    &::placeholder {
      color: $red;
    }
  }
}
