<div class="container">
  <div class="wrapper">
    <div class="header">
      <p>Create customer</p>
    </div>
    <form [formGroup]="customerForm">
      <div class="input-wrapper">
        <input
          formControlName="name"
          class="input"
          [ngClass]="{invalid: nameControl.invalid && nameControl.touched}"
          type="text" 
          placeholder="Name"
          required
        />
        <input
          formControlName="email"
          class="input"
          [ngClass]="{invalid: emailControl.invalid && emailControl.touched}"
          type="email" 
          placeholder="Email"
          required
        />
      </div>
      <div class="button-wrapper">
        <button class="btn gradient full" (click)="createCustomer()">Create</button>
      </div>
    </form>
  </div>
</div>
<app-modal
  [isActive]="isModalActive"
  [title]="'Create customer'"
  [text]="'Would you like to create a new customer?'"
  (cancel)="onCancel()"
  (confirm)="onConfirm()"
></app-modal>
