@import '../../../../assets/scss/variables';

.container {
  display: grid;
  grid-template-rows: 30px auto;
  height: 100%;
  background-color: $grayLightest;

  .header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: $gray;
    color: #fff;
  }
}