@import '../../../../assets/scss/variables';

.container {
  height: 100%;
  background-image: linear-gradient(to right, #712e62, #712768, #70206e, #6d1976, #68127e);

  cdk-virtual-scroll-viewport {
    height: 100%;
  }
}