@import '../../../../../assets/scss/platform';

.container {
  display: flex;
  height: 200px;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid $darkBlue;
  background-color: #fff;
  box-sizing: border-box;
  background-color: $darkBlue;

  .img-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    img {
      width: 80%;
      height: 80%;
      background-image: url('../../../../../assets/images/placeholder.png');
      background-position: center;
    }
  }

  .info {
    flex: 2;
    padding: 10px;
    color: $grayLight;

    .title {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }

    .price {
      margin-bottom: 15px;
      font-size: 1.1rem;
    }

    .description {
      font-size: 0.8rem;
      margin-bottom: 15px;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

}