@import "../../../../assets/scss/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .wrapper {
    width: 80%;
    max-width: 700px;
    background: #fff;
    z-index: $zModal;
    border-radius: 5px;

    .header {
      display: flex;
      align-items: center;
      height: 60px;
      background-color: $dark;
      font-size: 1.4rem;
      color: #fff;
      padding: 0 10px;
      margin-bottom: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .info {
      font-size: 1.2rem;
      padding: 20px 10px;
      border-bottom: 1px solid $grayLight;
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;
      padding: 10px;

      button {
        margin-left: 15px;
      }
    }
  }
}
